.sector .container{
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
    max-width: 1140px;

}
.sector-list{
    display: flex;
 
}
.sector-item{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    position: relative;
   
}
.sector-text{
    font-family: Roboto;
font-weight: 400;
font-size: 16px;
 width: 300px;
text-align: center;
color: #3b3937;
}
 
.item-image{
    position: absolute;
    top: 6%;
}
.sector-subtitle{
    font-family: Roboto;
font-weight: 500;
font-size: 16px;
 color: #DC780B;
text-align: center;
text-transform: uppercase;
}
.sector-title{
    font-family: Philosopher;
font-weight: 700;
font-size: 31.25px;
line-height: 100%;
letter-spacing: 0%;
text-transform: capitalize;
color: #150C01;
}