.section .container{
    display: flex;
    justify-content: space-between;
    gap: 180px;
    margin-top: 30px;
}
.section-right{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}
.section-left{
    position: relative;
}
.section_background{
   
    height: 800px;
}
.girl_image{
    position: absolute;
    width: 444px;
    height: 400px;
    left:20% ;
    top: 30%;
}
.section-heading{
    font-family: Roboto;
font-weight: 500;
font-size: 16px;
 color: #DC780B;
vertical-align: middle;
text-transform: uppercase;

}
.section-paragraph{
    font-family: Philosopher;
font-weight: 700;
font-size: 31.25px;
 
color: #150C01;
}
.section-text{
    font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
color: #474643;
 
}
.section-button{
    width: 140px;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 12px 5px;
    border: none;
    background-color: #DC780B;
}
.section-button:hover{
    background-color: white;
    border: 2px solid #DC780B;
    color: #DC780B;
}